.date-wrapper {
    display: flex;
    cursor: pointer;

    .clear-button {
        width: 39px;
        height: 39px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e2e7f1;
    }
    .flatpickr-input {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}

.clear-row-button {
    align-items: center;
    display: flex;
    cursor: pointer;
    .clear-button {
        margin-top: 10px;
    }
}

.color-select {
    legend {
        font-size: 0.875rem;
        color: #6c757d;
        font-weight: 600;
    }
    .form-control {
        margin-bottom: 18px;
        input, label {
            cursor: pointer;
        }
    }
}

.add-product-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    padding-left: 0px;
}

.add-color-quantity-button {
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .warehouse-select {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .date-wrapper, .add-warehouse-btn {
        margin-bottom: 0.5rem;
    }
}